[project]
name = "mmore"
version = "1.0.0"
description = "mmore: Scalable multimodal document extraction pipeline for custom RAG integration."
readme = "README.md"
authors = [
    { name = "Paul Teiletche", email = "paul.teiletche@epfl.ch" },
    { name = "Marc-Antoine Dilmi JR Allard", email = "marc-antoine.allard@epfl.ch" }
]
requires-python = ">=3.10"
dependencies = [
    "numpy==1.26.3",
    "pandas==2.2.3",
    "datasets==2.19.1",
    "transformers==4.47.0",
    "fastapi[standard]",
    "fastapi==0.115.5",
    "uvicorn==0.32.1",
    "python-dotenv==1.0.1",
    "dacite==1.8.1",
    "click>=8.1.7",
    "dask-cuda>=24.10.0",
    "cuda-python>=12.6.2",
    "ucx-py-cu12>=0.40.0",
    "pytest>=8.3.4",
    "validators==0.34.0",
    "httpx==0.27.2",
]

[project.optional-dependencies]
cpu = [
    "torch>=2.5.1",
]
cu124 = [
    "torch>=2.5.1",
]

process = [
    "Pillow",
    "PyMuPDF",
    "Unidecode",
    "clean-text",
    "docx2pdf",
    "lxml_html_clean",
    "python-docx",
    "python-pptx",
    "clean-text",
    "requests==2.28.1",
    "selenium==4.27.1",
    "surya-ocr>=0.8.3",
    "xlrd==2.0.1",
    "py7zr==0.22.0",
    "rarfile==4.2",
    "markdown==3.7",
    "markdownify==0.13.1",
    "marker-pdf==1.6.0",
    "moviepy==2.1.1",
    "openpyxl==3.1.5",
    "chonkie==0.2.1.post1",
    "langdetect>=1.0.9",
    "trafilatura==1.4.0",
    "datatrove[processing]",
    "validators==0.34.0",
    "bokeh",
    "motor==3.6.0",
    "fastapi[standard]",
    "fastapi==0.115.5",
    "pydantic== 2.10.4",
    "pymongo==4.9.2"
]

rag = [
  "accelerate",
  "langchain-anthropic==0.3.4",
  "langchain-aws",
  "langchain-cohere==0.4.2",
  "langchain-huggingface==0.1.2",
  "langchain-milvus==0.1.8",
  "langchain-mistralai==0.2.7",
  "langchain-nvidia-ai-endpoints",
  "langchain-openai==0.3.7",
  "langchain==0.3.20",
  "langdetect>=1.0.9",
  "langserve[all]==0.3.1",
  "pymilvus[model]==2.5.0",
  "ragas==0.2.6",
  "nltk>=3.9",
]

all = [
  "accelerate",
  "Pillow",
  "PyMuPDF",
  "Unidecode",
  "bokeh",
  "chonkie==0.2.1.post1",
  "clean-text",
  "datatrove[processing]",
  "docx2pdf",
  "fastapi==0.115.5",
  "fastapi[standard]",
  "langchain-anthropic==0.3.4",
  "langchain-aws",
  "langchain-cohere==0.4.2",
  "langchain-huggingface==0.1.2",
  "langchain-milvus==0.1.8",
  "langchain-mistralai==0.2.7",
  "langchain-nvidia-ai-endpoints",
  "langchain-openai==0.3.7",
  "langchain==0.3.20",
  "langdetect>=1.0.9",
  "langserve[all]==0.3.1",
  "lxml_html_clean",
  "markdown==3.7",
  "markdownify==0.13.1",
  "marker-pdf==1.6.0",
  "motor==3.6.0",
  "moviepy==2.1.1",
  "nltk>=3.9",
  "openpyxl==3.1.5",
  "py7zr==0.22.0",
  "pydantic== 2.10.4",
  "pymilvus[model]==2.5.0",
  "pymongo==4.9.2",
  "python-docx",
  "python-pptx",
  "ragas==0.2.6",
  "rarfile==4.2",
  "requests==2.28.1",
  "selenium==4.27.1",
  "surya-ocr>=0.8.3",
  "trafilatura==1.4.0",
  "validators==0.34.0",
  "xlrd==2.0.1",
]

[tool.uv]
conflicts = [
  [
    { extra = "cpu" },
    { extra = "cu124" },
  ],
]

[tool.uv.sources]
torch = [
  { index = "pytorch-cpu", extra = "cpu", marker = "platform_system != 'Darwin'" },
  { index = "pytorch-cu124", extra="cu124", marker = "platform_machine != 'aarch64'"},
  # { url = "https://download.pytorch.org/whl/cu124/torch-2.5.1-cp311-cp311-linux_aarch64.whl", extra="cu124",  marker = "platform_machine == 'aarch64'" },
]

[[tool.uv.index]]
name = "pytorch-cpu"
url = "https://download.pytorch.org/whl/cpu"
explicit = true

[[tool.uv.index]]
name = "pytorch-cu124"
url = "https://download.pytorch.org/whl/cu124"
explicit = true

[project.scripts]
mmore = "mmore:__main__"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
