surya-ocr
requests
Pillow
PyMuPDF
python-docx
python-pptx
selenium
clean-text
Unidecode
docx2pdf
validators
rarfile
openpyxl
xlrd
py7zr
pandas
validators
rarfile
markdown
markdownify
trafilatura
moviepy
pymilvus
