input_path: $ROOT_IN_DIR/sample_data/
output_path: $ROOT_OUT_DIR/process/outputs/

use_fast_processors: false
extract_images: true
distributed: false
dashboard_backend_url: null
scheduler_file: $ROOT_OUT_DIR/scheduler-file.json

batch_sizes:
  URLProcessor: 40
  DOCXProcessor: 100
  PDFProcessor: 4000
  MediaProcessor: 40
  SpreadsheetProcessor: 100
  TextProcessor: 100
  PPTXProcessor: 100
  MarkdownProcessor: 100
  EMLProcessor: 100
  HTMLProcessor: 100

processors:
  MediaProcessor:
    normal_model: openai/whisper-large-v3-turbo
    fast_model: openai/whisper-tiny
    frame_sample_rate: 10
