dispatcher_config:
  output_path: examples/outputs/
  use_fast_processors: false
  distributed: false
  scheduler_file: scheduler-file.json
  process_batch_sizes:
    - URLProcessor: 40
    - DOCXProcessor: 100
    - PDFProcessor: 4000
    - MediaProcessor: 40
    - SpreadsheetProcessor: 100
    - TXTProcessor: 100
    - PPTXProcessor: 100
    - MarkdownProcessor: 100

  processor_config: 
    MediaProcessor:
      - normal_model: "openai/whisper-large-v3-turbo"
      - fast_model: "openai/whisper-tiny"
      - type: "automatic-speech-recognition"
      - sample_rate: 10
      - batch_size: 4

    PDFProcessor:
      - PDFTEXT_CPU_WORKERS: 0
      - DETECTOR_BATCH_SIZE: 1
      - DETECTOR_POSTPROCESSING_CPU_WORKERS: 0
      - RECOGNITION_BATCH_SIZE: 1
      - OCR_PARALLEL_WORKERS: 0
      - TEXIFY_BATCH_SIZE: 1
      - LAYOUT_BATCH_SIZE: 1
      - ORDER_BATCH_SIZE: 1
      - TABLE_REC_BATCH_SIZE: 1

data_path: test_data/
