name: ci

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        platform: [cpu, gpu]
        user:
          - { uid: 1000,    gid: 1000,    tag: "10001000"    }

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: androz2091/swiss-ai-mmore
          tags: |
            type=ref,event=branch
            type=sha

      - name: Build & push ${{ matrix.platform }} variant ${{ matrix.user.tag }}
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ steps.meta.outputs.tags }}-${{ matrix.platform }}-${{ matrix.user.tag }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            PLATFORM=${{ matrix.platform }}
            USER_UID=${{ matrix.user.uid }}
            USER_GID=${{ matrix.user.gid }}
          cache-from: type=gha
          cache-to:   type=gha,mode=max
